

.memberIcon {
    height: 50px; 
    object-fit: contain;
}

.infoFooter{
    background-image: url('/img/footer-bg.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.dcLogo {
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 0;
    opacity: 0.8;
}

.listTitle {
    text-transform: uppercase;
}

.jumbotronWrapper{
    position: relative;
}

.jumboImg {
    object-position: top;
    max-height: 300px;
    object-fit: cover;
}

.btnSeries{
    background-color: #0282f9;
    color: white;
    border: none;
    padding: 10px 25px;
    font-weight: bold;
    font-size: 1.2rem;
    position: absolute;
    top: -25px;
    left: 15px;
}

.btnLoadMore{
    background-color: #0282f9;
    color: white;
    border: none;
    padding: 10px 50px;
    font-weight: bold;
    font-size: 0.9rem;
}


.comicTitle{
    color: white;
    font-weight: 600;
}