

.memberIcon {
    height: 50px; 
    object-fit: contain;
}

.infoFooter{
    background-image: url('/img/footer-bg.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.dcLogo {
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 0;
    opacity: 0.8;
}

.listTitle {
    text-transform: uppercase;
}

.jumbotronWrapper{
    flex: auto;
    
}

.jumboImg {
    object-position: top;
    max-height: 300px;
    object-fit: cover;
}

.btnSeries{
    background-color: #0282f9;
    color: white;
    border: none;
    padding: 10px 25px;
    font-weight: bold;
    font-size: 1.2rem;
    position: absolute;
    top: -50px;
    left: 15px;
}

.btnLoadMore{
    background-color: #0282f9;
    color: white;
    border: none;
    padding: 10px 40px;
    font-weight: bold;
    font-size: 0.6rem;
    margin-bottom: 20px;
    margin-top: 40px;
}

.comicCont{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.comicTitle{
    color: white;
    font-weight: 500;
    font-size: 0.7rem;
}

.comicImg {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: top;
    width: 100%;
}